USE [master]
GO
/****** Object:  Database [ProductionOrderManagement]    Script Date: 27.12.2024 17:19:46 ******/
CREATE DATABASE [ProductionOrderManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductionOrder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProductionOrder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductionOrder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProductionOrder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductionOrderManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductionOrderManagement]
GO
/****** Object:  Table [dbo].[ЗАГОЛОВОК]    Script Date: 27.12.2024 17:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЗАГОЛОВОК](
	[Номер_заказа] [int] IDENTITY(1,1) NOT NULL,
	[Цех_производитель] [nvarchar](100) NOT NULL,
	[Дата_начала] [date] NOT NULL,
	[Дата_окончания] [date] NOT NULL,
	[Статус] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__ЗАГОЛОВО__8D170B9B056A7126] PRIMARY KEY CLUSTERED 
(
	[Номер_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПОЗИЦИИ]    Script Date: 27.12.2024 17:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПОЗИЦИИ](
	[Номер_позиции_заказа] [int] IDENTITY(1,1) NOT NULL,
	[Номер_заказа] [int] NOT NULL,
	[Марка_стали] [nvarchar](50) NOT NULL,
	[Диаметр] [decimal](10, 2) NOT NULL,
	[Стенка] [decimal](10, 2) NOT NULL,
	[Объем_позиции] [decimal](10, 2) NOT NULL,
	[Единица_измерения] [nvarchar](20) NOT NULL,
	[Статус] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ПОЗИЦИИ] PRIMARY KEY CLUSTERED 
(
	[Номер_позиции_заказа] ASC,
	[Номер_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ПОЗИЦИИ]  WITH CHECK ADD  CONSTRAINT [FK__ПОЗИЦИИ__Номер_з__3B75D760] FOREIGN KEY([Номер_заказа])
REFERENCES [dbo].[ЗАГОЛОВОК] ([Номер_заказа])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ПОЗИЦИИ] CHECK CONSTRAINT [FK__ПОЗИЦИИ__Номер_з__3B75D760]
GO
ALTER TABLE [dbo].[ЗАГОЛОВОК]  WITH CHECK ADD  CONSTRAINT [CK__ЗАГОЛОВОК__Стату__37A5467C] CHECK  (([Статус]='выполнен' OR [Статус]='в работе' OR [Статус]='новый'))
GO
ALTER TABLE [dbo].[ЗАГОЛОВОК] CHECK CONSTRAINT [CK__ЗАГОЛОВОК__Стату__37A5467C]
GO
ALTER TABLE [dbo].[ПОЗИЦИИ]  WITH CHECK ADD  CONSTRAINT [CK__ПОЗИЦИИ__Статус__3A81B327] CHECK  (([Статус]='выполнена' OR [Статус]='в работе' OR [Статус]='новая'))
GO
ALTER TABLE [dbo].[ПОЗИЦИИ] CHECK CONSTRAINT [CK__ПОЗИЦИИ__Статус__3A81B327]
GO
USE [master]
GO
